* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image:
  linear-gradient(to bottom, rgba(79, 80, 82, 0.678), rgba(88, 91, 92, 0.548)),
  url("https://i.pinimg.com/originals/72/f6/3a/72f63a3d0e55e59a76210c710829de57.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  color: aliceblue;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2{
  color: aliceblue;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img{
  height: auto;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

ul{
  color: aliceblue;
  font-size: 1.3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background-color: linear-gradient(to bottom, rgba(79, 80, 82, 0.678), rgba(88, 91, 92, 0.548));
}

div{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.SofiaWeatherBtn {
  color: rgb(255, 255, 255);
  background: rgb(59, 117, 11);
  cursor: pointer;
  transition: all 0.3s ease-in;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-top: 20px;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.SofiaWeatherBtn:hover {
  background: rgb(17, 180, 11);
  color: white;
}

.cityname{
  display: block;
  position: relative;
  width: 23.5rem;
  height: 2.6rem;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}
